<!-- OM NAMASIVAYA -->
<section id="dashboard-main">
  <div class="dash-item" id="controller-container">
    <h2>Find your dream Job here!</h2>
    <div id="controller">
      <a href="/job-page"><div class="con-item" id="job-btn">find job's</div></a>
      <a href="/post-job"
        ><div class="con-item" id="recruiter-btn">I'm recruiter</div></a
      >
    </div>
  </div>
  <div class="dash-item"></div>
</section>
