<!-- OM NAMASIVAYA -->
<div id="post-job-main-container">
  <div class="post-job-container">
    <div class="post-job-form">
      <form action="/jobs" method="post">
        <div id="com-name-div" class="horizontal-div">
          <label for="companyname">Company Name</label>
          <input
            type="text"
            name="companyname"
            placeholder="enter Company name"
            id="companyname"
          />
        </div>

        <div class="form-div">
          <select name="jobCatagory" id="jobCatagory">
            <option value="" disabled selected hidden>
              Select Job Catagory
            </option>
          </select>

          <select name="jobDesigination" id="jobDesigination">
            <option value="" disabled selected hidden>
              Select Job Desigination
            </option>
          </select>
        </div>

        <div class="horizontal-div">
          <div>
            <label for="location">Location</label>
            <input
              type="text"
              name="location"
              placeholder="enter Company location"
              id="location"
            />
          </div>

          <div>
            <label for="opennings">Opening</label>
            <input
              type="number"
              id="opening"
              name="opennings"
              min="1"
              max="100"
              value="1"
            />
          </div>
        </div>

        <div class="horizontal-div">
          <div class="salary-div">
            <label for="salary-range">salary range(LPA)</label>
            <div id="salary-ran-container">
              <label for="min-salary">Min</label>
              <label for="max-salary">Max</label>
              <input
                type="number"
                id="min-salary"
                name="min"
                min="1"
                max="500"
                value="1"
              />

              <input
                type="number"
                id="max-salary"
                name="max"
                min="1"
                max="500"
              />
            </div>
          </div>

          <div id="apply-by">
            <label for="applyBy">Apply Before</label>
            <input
              type="date"
              min=""
              onfocus="this.min = new Date().toISOString().slice(0, 10);"
              name="applyBy"
            />
          </div>
        </div>

        <div class="horizontal-div">
          <label for="Skills">require skills</label>
          <textarea
            name="skills"
            id="skills"
            rows="3"
            placeholder="enter skills by',' (skill1, skill2...)"
          ></textarea>
        </div>

        <button type="submit">post job</button>

        <% if(errors){%>
        <p>
          <span><%= errors[0].msg %></span>
        </p>
        <%}%>
      </form>
    </div>
  </div>
</div>
