<!-- OM NAMASIVAYA -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>job-Sea</title>
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bd5f5088d8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="left">
        <div id="logo">
          <h2>Job Sea</h2>
        </div>
        <nav>
          <ul>
            <li><a href="#">Job</a></li>
            <li><a href="#">Post Job</a></li>
          </ul>
        </nav>
      </div>
      <div class="right">
        <div id="search">
          <form action="#">
            <input type="text" placeholder="search job" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
        <nav>
          <ul>
            <li><a href="/register">SignUp</a></li>
            <li><a href="/login">SignIn</a></li>
            <li><a href="/">SignOut</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main><%-body%></main>
    <footer></footer>
  </body>
</html>
